<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repertory Index</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/repertory/new">Create Repertory</a>
    <h1>Repertory Index</h1>
    <ul>
        <% repertory.forEach((song)=>{ %>
            <li><a href="/repertory/<%= song._id%> ">Title: <%=song.title %></a></li>
            <!-- <li>Author: <%=song.author %></li>
            <li>Genre: <%=song.genre %></li> -->
        <% }) %>
        
    </ul>

</body>
</html>